.category-bildergalerie{
	.main-content h1{
		margin-top: rem-calc(40);
	}
	.year{
		font-size: rem-calc(34);
		text-decoration: underline;
		font-weight: normal;
	}
	.year-container{
		margin-top: rem-calc(40);
	}
	.post{
		margin-bottom: rem-calc(30);
		@media #{$small-only} {
			margin-bottom: rem-calc(15);
		}
		header{
			background-color: white;
			padding: 4px;
			h2{
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				font-weight: normal;
				@media #{$small-only} {
					font-size: 16px;
				}
			}
		}
		&:hover h2{
			text-decoration: underline;
		}
	}
}