.category-bildergalerie{
	.main-content h1{
		margin-top: rem-calc(40);
	}
	.year{
		font-size: rem-calc(28);
		text-decoration: underline;
		font-weight: normal;
	}
	.year-container{
		margin-top: rem-calc(40);
	}
}