.slider-container{
	@include box-shadow($dpsg-shadow);
	border: 10px solid #fff;
	margin-bottom: rem-calc(30);
}

.image-slider{
	margin-bottom: 0!important;

	// hide all slides except first slide to prevent flickering
  &.un-initialized{
    .slide:not(:first-child){
      display: none;
    }
  }

	.slide{
		position: relative;
	}
	img{
		display: inline;
		width: 100%;
		z-index: 1;
		position: relative;
	}

	//Slider Description
	hgroup{
		// display: none;
		position: absolute;
	    z-index: 2;
	    bottom: 0;
	    left: 0;
	    margin: 0;
	    padding: 0;
	    .headline01 {
		    bottom: rem-calc(95px);
		    left: 1.5em;
		}
		.headline02 {
		    bottom: 1.2em;
		    left: 2.5em;
		}
		h2{
			background: rgba(255,255,255,0.7);
		    position: absolute;
		    white-space: nowrap;
		    margin: 0;
		    padding: 0.2em 0.4em;
		    font-size: rem-calc(33);
		    font-weight: normal;
		}
	}

}
//
// .image-slider{
// 	.orbit-bullets{
// 		button{
// 			margin: rem-calc(4 28);
// 			color: $primary-color;
// 			&.is-active{
// 				color: $red;
// 			}
// 			&:hover{
// 				text-decoration: underline;
// 			}
// 		}
//
// 	}
// }
