.archive, .search{
	.main-content h1{
		margin-top: rem-calc(40);
	}
	.year{
		font-size: rem-calc(34);
		// text-decoration: underline;
		font-weight: normal;
		text-align: center;
		font-family: "Roboto"
	}
	.year-container{
		margin-top: rem-calc(40);
	}
	.post{
		margin-bottom: rem-calc(30);
		@include breakpoint(small only) {
			margin-bottom: rem-calc(15);
		}
		header{
			// background-color: white;
			// padding: 4px;
			h2{
				text-align: center;
				padding-left: 15px;
				padding-right: 15px;
				padding-bottom: 15px;
				font-weight: normal;
				font-family: "Roboto";
				font-size: rem-calc(18);
				margin-top: rem-calc(15);
				font-weight: bold;

				@include breakpoint(small only) {
					font-size: 16px;
				}
			}
		}
		&:hover h2{
			text-decoration: underline;
		}
	}
	nav.sticky{
		right: 0;
	}
	.year-nav{
		li{
			display: inline-block;
		}
	}
	.year-label{
		display: block;
		margin-left: rem-calc(15);
	}
}
