// .single-post .content-section {
//   @include grid-row();
//   justify-content: center;
//   .inner {
//     @include breakpoint(small) {
//       @include grid-column(12);
//     }
//
//     @include breakpoint(medium) {
//       @include grid-column(6);
//     }
//   }
//
// }


.post-title{
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

.sidebarnav{
  margin-bottom: rem-calc(16);
}
